* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Modal */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}

.modal-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.modal-middle{
  margin: 0 2rem; 

}

.closeBtn {
  padding: 10px;
  font-size: 2rem;
 /*  position: fixed;
  top: 8px;
  right: 8px;*/
} 

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  padding: 1rem 2rem;
}

.btnContainer {
  display: flex;
  padding: 1rem 1rem;
}
.btnContainer button {
  width: 100%;
  margin: .5rem;
  padding: 16px 0;
  /* border: none; */
  border: 1px solid #411b57;
  /* color: #ffffff; */
}

.btnPrimary {
  background-color: #411b57;
  color: white;
}

.btnOutline {
  /* background-color: #a76a99; */
  background-color: white;
  color: #411b57;
}

.bold {
  font-weight: 600;
}

.modal-content{
  height: 6rem; 
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: row;
  width: 28vw;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
}

.modal-content p{
  font-weight: 800;
  font-size: 1.5rem;
}

.klimat-div{
  display: flex;
  flex-direction: row;
  background-color: rgb(222, 216, 216);
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
  padding-left: 5px;
  border-radius: 10px;
  margin: 10px 0; 
}
.klimat-div img{
  height: 3rem;
  border-radius: 10px;
}

.expiry-div-modal{
  width: 4.2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(205, 13, 13);    
  margin: 10px;
  padding: 10px;
}

.expiry-div-modal p{
  color: white;
  font-weight: 600;
  font-size: 0.9rem;

}



@media screen and (max-width: 500px) {

  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .modalContainer {
    position: fixed;
    transform: none;
    width: 80%;
    height: 35vh;
    max-width: 600px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
  }
 

 
}

