.my-fridge{
    display: flex;
  flex-direction: column;
}



.my-fridge-intro p{
text-align: center;
display: flex;
justify-content: center;
align-items: center;
height: 15rem;
width: 15rem;
font-weight: 800;
}

.item{
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    width: 20rem;
    padding: 0;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Cabin", sans-serif;
}

.btn-btns{
    display: flex;
    justify-content: right;
    align-items: center;
}


.btn-btns button{
    border: none;
    background-color: white;
    padding-left: 8px; 
    margin: 5px;
}

button {
    border: black 2px solid;
    background-color: black;
}

.food-img{
    height: 2rem;
    width: auto;
    padding: 3px;
    margin: 5px;

}

.item-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item-left p{
    padding: 10px;
    font-weight: 800;
}

.light-warning{
    background-color: rgb(109, 167, 109);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    color: white;

}

.warning{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(205, 13, 13);    
    margin: 0;
    padding: 10px;
    color: white;

}
