.recipes{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'Cabin', sans-serif;
    justify-content: space-between;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 0 1rem 0 1rem ;
}

.search-form{
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


.clear-btn{
    padding: 5px;

}

.search-btn{
    width: 5rem;

    
}
