.myfoods{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.myfood{

    background: white;
    width: 70%;
    border-radius: 2rem;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content:space-between;
    font-family: 'Cabin', sans-serif;
    font-size: 1.3rem;

}

button{
    background: white;
    border: 0;
}