.styles-auth{
  font-family: 'Cabin', sans-serif;


}

.form{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

form input {
  width: 75vw; 
  border: 2px solid #000;
  border-radius: 2em;
  overflow: hidden;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  margin: 10px;
  padding: 10px;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
flex-direction: column;
}

.login-button{
  width: 80vw;
  font-size: 1.2rem;
  border-radius: 2em;
  padding: 10px;
  margin: 1.5rem; 
  background-color: white;
}

.auth-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-google{
  width: 80vw;
  font-size: 1.2rem;
  border-radius: 2em;
  padding: 10px;
  margin: 1.5rem; 
  background-color: white;
}

.auth-register{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 700px) {
  .img {
    display: none;
  }
}