.topbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
}
::-webkit-scrollbar {
    display: none;
}
img{
    height: 6rem;
    width: auto; 
}