.navbar-wider {
    background-color: rgba(142, 182, 249, 1); 
    overflow: hidden;
    width: 100vw; 
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
  
}

  .nav-links-wider{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    }

  .nav-link-wider{
      text-decoration: none;
      flex-direction: column;
      font-family: 'Cabin', sans-serif;
      font-size: 1.2rem;
      text-align: center; 
      margin: 10px;
  }
  .active-link-wider{ 
    text-decoration: none;
    margin: 0;
    padding: 0;
    border-bottom: 3px green solid;
    font-size: 1.2rem;

  }
  @media screen and (max-width: 700px) {
    .navbar-wider{
      display: none;
    }
  }