.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.search {
    width: 75vw; 
    border: 2px solid #000;
    border-radius: 2em;
    overflow: hidden;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    margin: 10px;
    
  }
  .search-input{
    width: 100%;
    font-size: 1.3rem;
    padding: 0.8rem;
    font-family: 'Cabin', sans-serif;

  }

  .search-boxes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

  }
  .search-squares{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 3.5rem; 
    background-color: white;
    border-radius: 1.2rem;
    margin: 0.2rem; 
    padding: 0.5rem;
  }

  .search-square{
    text-align: center;
    font-family: 'Cabin', sans-serif;
  }
  
  img{
    width: 100%;
  }
  
  