
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.searchbar{ 
  width: 75vw; 
  border: 2px solid #000;
  border-radius: 2em;
  overflow: hidden;
  background-color: white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  margin: 10px;
}
.search-input{ 
  width: 100%;
  font-size: 1.3rem;
  padding: 0.8rem;
  font-family: 'Cabin', sans-serif;
  border: 0;
  display: flex;
}

.search-icons {
  height: 60px;
  width: 50px;
  background-color: white;
  display: grid;
  place-items: center;    
  border-radius: 2em;

}

input:focus {
  outline: none;
}
.search-icons svg {
  font-size: 35px;
  margin: 5px; 
}


.search-results{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 2rem;
  /* flex-wrap: wrap; */
} 

.search-results::-webkit-scrollbar {
  display: none;
}

.data-result{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50vw;
}

.search-item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 3.5rem;
  height: 3.5rem; 
  background-color: white;
  border-radius: 1.2rem;
  margin: 0.2rem; 
  padding: 0.5rem;    
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}

.search-button{
  border: none;
  background-color: white;
  border-radius: 2em;

}